$blue-color: #1eacc7;
$pink-color: #ff5656;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin btn-hover {
    &:hover {
        background-image: none;
        background-color: $blue-color;
    }
}

* {
    font-family: "Roboto", sans-serif;
}

p {
    margin-bottom: 0;
}

.container {
    max-width: 1140px;
}

.label {
    width: 115px;
    height: 27px;
    background-color: #000;
    margin: 0 auto;
    @include flex-center;

    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}

.title {
    margin-top: 43px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}

.subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: #222222;
    margin-top: 5px;
}

/* header */
header {
    position: relative;

    nav {
        height: 50px;
        background-color: #212121;
    }

    .menu {
        padding: 13px 70px;
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        .menu_item {
            border-right: 2px dotted black;
            padding-right: 28px;

            .menu_link {
                text-decoration: none;
                color: #ffffff;
                font-weight: 300;
                font-size: 15px;
            }
        }
    }

    .subheader {
        position: absolute;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        height: 87px;
        z-index: 5;

        .subheader_logo {
            text-decoration: none;
            max-width: 100%;

            a {
                text-decoration: none;
                display: block;
                margin-top: 17px;
            }

            p {
                margin-top: 6px;
                font-weight: 100;
                font-size: 13px;
                color: #ffffff;
                opacity: 0.7;
            }
        }

        .subheader_call {
            a {
                display: block;
                text-decoration: none;
                font-weight: 400;
                font-size: 21px;
                text-transform: uppercase;
                color: #ffffff;
                text-align: right;
            }

            p {
                margin-top: 19px;
                font-size: 12px;
                color: #ffffff;
                text-align: right;
            }
        }

        .subheader_btn {
            button {
                width: 172px;
                height: 46px;
                background: linear-gradient(0deg, $blue-color 0%, #4ce2ff 100%);
                box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
                border: none;
                border-radius: 4px;
                margin-top: 20px;

                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                color: #ffffff;
                text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);

                @include btn-hover;
            }
        }
    }
}
/* header */

/* section promo */
.promo {
    position: relative;
    min-height: 800px;
    background: url("../img/bg/uber_bg.jpg") center center / cover no-repeat;
    padding: 150px 0 185px 0;

    .promo_header {
        font-weight: 900;
        font-size: 60px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 58px;
        text-align: center;
    }

    .promo_subheader {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        color: #ffffff;
        margin-top: 23px;
        text-align: center;
    }

    p {
        margin-top: 26px;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #ffffff;
    }

    button {
        display: block;
        margin: 116px auto 0 auto;
        width: 259px;
        height: 63px;
        background: linear-gradient(0deg, $blue-color 0%, #4ce2ff 100%);
        box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        border: none;

        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);

        @include btn-hover;
    }
}
/* section promo */

/* section benefits */
.benefits {
    min-height: 850px;
    padding: 18px 0 64px 0;

    .row {
        margin-top: 28px;
    }

    &-item {
        display: flex;
        margin-left: 70px;

        &--img {
            &-wrapper {
                @include flex-center;
            }

            &-ball {
                @include flex-center;
                min-width: 116px;
                min-height: 116px;
                background: $blue-color;
                border-radius: 100%;
            }
        }

        &--description {
            margin-left: 25px;

            h3 {
                font-weight: 400;
                font-size: 17px;
                line-height: 21px;
                color: $blue-color;
            }

            p {
                font-weight: 300;
                font-size: 15px;
            }
        }
    }
}
/* section benefits */

/* section mobile */
.mobile {
    background: url("../img/bg/mobile_bg.jpg") center center / cover no-repeat;
    min-height: 864px;
    padding: 46px 0 80px 0;

    .row {
        margin-top: 30px;
    }

    &-cart {
        width: 320px;
        height: 280px;
        padding: 82px 0 34px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto 19px auto;

        &-title {
            text-align: center;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            text-transform: uppercase;
            color: #ffffff;
        }

        &-plus {
            margin: 0 auto;
            width: 29px;
            height: 29px;
            background: #000000;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            // blue plus
            &:before {
                content: "";
                display: block;
                width: 14px;
                height: 2px;
                background-color: $blue-color;
            }
            &:after {
                content: "";
                display: block;
                width: 2px;
                height: 14px;
                background-color: $blue-color;
                position: absolute;
            }
            // blue plus

            &:hover {
                &:before,
                &:after {
                    transition: 0.3s all;
                    background-color: $pink-color;
                }
            }
            &:not(:hover) {
                &:before,
                &:after {
                    transition: 0.3s all;
                }
            }
        }

        &-one {
            background: url("../img/section_3/cart_1.jpg") center center / cover
                no-repeat;
        }
        &-two {
            background: url("../img/section_3/cart_2.jpg") center center / cover
                no-repeat;
        }
        &-three {
            background: url("../img/section_3/cart_3.jpg") center center / cover
                no-repeat;
        }
        &-four {
            background: url("../img/section_3/cart_4.jpg") center center / cover
                no-repeat;
        }
        &-five {
            background: url("../img/section_3/cart_5.jpg") center center / cover
                no-repeat;
        }
        &-six {
            background: url("../img/section_3/cart_6.jpg") center center / cover
                no-repeat;
        }
    }
}
/* section mobile */

/* section car */
.car {
    min-height: 898px;
    padding-top: 56px;
    background-color: #070716;
    position: relative;
    z-index: -2;

    &-background--white {
        position: absolute;
        height: 397px;
        width: 100%;
        background: url("../img/bg/subcar.jpg") center center / cover no-repeat;
        top: 502px;
        z-index: -1;
    }

    img {
        display: block;
        margin: 54px auto 0 auto;
        z-index: 1;
    }

    p {
        font-weight: 300;
        font-size: 17px;
        line-height: 24px;
        color: #222222;
        text-align: center;
    }

    .label {
        background-color: #fff;
        color: #000;
    }

    .title,
    .subtitle {
        color: #fff;
    }
}
/* section car */

/* section conditions */
.conditions {
    min-height: 898px;
    padding: 66px 0 87px 0;

    .blue {
        .conditions-item--title {
            color: $blue-color;
        }

        li {
            &:before {
                background: url("../icons/check_blue.png") center center / cover
                    no-repeat;
            }
        }
    }
    .red {
        .conditions-item--title {
            color: $pink-color;
        }

        li {
            &:before {
                background: url("../icons/check_red.png") center center / cover
                    no-repeat;
            }
        }
    }

    &-item {
        margin-top: 52px;

        &--title {
            font-weight: 400;
            font-size: 22px;
        }

        ul {
            list-style-type: none;
            padding-left: 50px;
            margin-top: 22px;

            li {
                font-weight: 300;
                font-size: 17px;
                line-height: 24px;
                color: #222222;
                margin-bottom: 9px;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: -32px;
                    height: 21px;
                    width: 22px;
                    margin-right: 5px;
                }
            }
        }

        p {
            font-weight: 300;
            font-size: 17px;
            line-height: 24px;
            color: $blue-color;
            margin-top: 29px;
        }
    }
}
/* section conditions */

/* section world */
.world {
    min-height: 720px;
    padding: 46px 0 50px 0;
    background: url("../img/bg/world.jpg") center center / cover no-repeat;

    .label {
        background-color: #fff;
        color: #000;
    }
    .title,
    .subtitle {
        color: #fff;
    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        margin-top: 484px;
    }
}

/* section world */
